.page-container {
  margin-top: 128px;
}

.page-search-box {
  margin-bottom: 32px;
}

.page-title {
  color: rgb(255, 101, 80);
}

.article {
  display: flex;
  margin-bottom: 32px;
}

.article-title a {
  text-decoration: none;
  color: #333;
}

.article img {
  margin-right: 24px;
  border-radius: 12px;
  width: 320px;
  object-fit: cover;
}

.article-category {
  padding: 4px 13px;
  background: #ede7ff;
  border-radius: 36px;
  color: #976fff;
  margin-right: 5px;
  text-decoration: none;
  margin-bottom: 12px;
  display: inline-block;
  font-weight: bold;
  font-size: 13px;
}

.article-category:hover {
  color: #976fff;
}

.article-desc {
  color: #4d4d4d;
  font-size: 15px;
}

.article-date,
.article-author {
  font-size: 14px;
  color: #777;
}

.post-review {
  border: 1px solid rgb(255, 101, 80);
  padding: 24px;
  border-radius: 12px;
  display: block;
  text-align: center;
  text-decoration: none;
  padding-bottom: 32px;
}

.post-review img {
  width: 100%;
}

.post-review-title {
  font-size: 24px;
  font-weight: bold;
  color: rgb(255, 101, 80);
}

.post-review-desc {
  display: block;
  font-size: 13px;
  color: #aaa;
}

.latest-posts {
  margin-top: 32px;
}

.your-article {
  margin-bottom: 16px;
  display: flex;
}

.your-article-img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 16px;
}

.your-article-title {
  font-size: 16px;
}

.your-article-title a {
  text-decoration: none;
  color: #333;
}

.your-article-desc {
  font-size: 12px;
  color: #4d4d4d;
}

.latest-posts-header {
  margin-bottom: 24px;
}

.latest-posts-header a {
  text-decoration: none;
  color: #333;
}

.page-search-title {
  margin-top: 12px;
  color: #777;
}

.pagination {
  justify-content: center;
}

.page-search-reset {
  color: #777;
}

.latest-posts-empty {
  text-align: center;
  color: #777;
}
