* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
.container-fluid {
  padding: 0;
}
/*--------------------------*/

.blog-head img {
  height: 650px;
  margin-top: 90px;
}
.blog-body {
  margin-top: 128px;
  padding: 0 10%;
}
.carousel-control-prev {
  margin-top: 90px !important;
}
.carousel-control-next {
  margin-top: 90px !important;
}
.carousel-item img {
  object-fit: cover;
}
/*-----------------------------*/
.btn-collapse {
  border: solid 1px black;
}
.card-body {
  width: 100%;
}
.card-body .body1 {
  width: 100%;
}
.card-body button {
  border: 0;
  background-color: white;
  width: 100%;
  height: 100%;
}
/*-------------------------------*/
.box {
  text-align: center;
  padding: 2px;
  background-clip: border-box;
}
.box a {
  text-decoration: none;
  color: #777;
}
.box .active-btn {
  border-bottom: solid 2px rgb(255, 101, 80);
}

/* Chrome, Safari, Opera */
@-webkit-keyframes drawBorderFromCenter {
  0% {
    background-size: 0 2px, 0 0, 100% 100%;
  }
  20% {
    background-size: 100% 2px, 100% 0, 100% 100%;
  }
  66% {
    background-size: 100% 2px, 100% 98%, 100% 100%;
  }
  99% {
    background-size: 100% 2px, 100% 98%, 0 2px;
  }
}
/*---------------------------------------------------*/
.btn-allCatagory {
  border: solid 1px black;
}
.btn-allCatagory:hover {
  color: rgb(255, 80, 101);
  border: solid 1px rgb(255, 80, 101);
}
.btn-createBlog {
  border: solid 1px black;
  text-decoration: none;
  margin-right: 10px;
}
.btn-createBlog:hover {
  color: rgb(255, 80, 101);
  border: solid 1px rgb(255, 80, 101);
}

/*-------------------------------------*/
.content {
  width: 100%;
}
.content .card {
  border: 0;
  background-color: transparent;
}
.content .card img {
  border-top: solid 1px gray;
  border-left: solid 1px gray;
  border-right: solid 1px gray;
}
.content .card-body {
  width: 100%;
  border-bottom: solid 1px gray;
  border-left: solid 1px gray;
  border-right: solid 1px gray;
}
.content .card-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.content .card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.content .card-body .btn-read {
  background-color: rgb(255, 101, 80);
  color: white;
}
.content .card-body .btn-read:hover {
  color: white;
}
/* .content .card-body .btn-adjust{
    border: solid 1px transparent;
}
.content .card-body .btn-adjust:hover{
    border: solid 1px black;
}

.content .card-body .btn-delete{
    border: solid 1px transparent;
}
.content .card-body .btn-delete:hover{
    border: solid 1px black;
} */

.card {
  border: none;
  border: 1px solid #bbb !important;
  padding-bottom: 12px;
}

.card-img-top {
  /* height: 160px; */
  width: 200px;
  height: 100px;
  object-fit: contain;
  border: none !important;
}

.coupon-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.coupon-card .card-body {
  border: none !important;
}

.coupon-value {
  font-weight: bold;
  color: #ee4d2d;
  font-size: 32px;
}

.coupon-description {
  font-size: 14px;
  color: #444;
  margin-bottom: 24px;
}

.coupon-code {
  color: #444;
  background: linear-gradient(
      315deg,
      rgba(0, 0, 0, 0.06) 10%,
      rgba(0, 0, 0, 0) 15%,
      rgba(0, 0, 0, 0) 35%,
      rgba(0, 0, 0, 0.06) 40%,
      rgba(0, 0, 0, 0.06) 60%,
      rgba(0, 0, 0, 0) 65%,
      rgba(0, 0, 0, 0) 85%,
      rgba(0, 0, 0, 0.06) 90%
    )
    repeat scroll 0 0/6px 6px rgba(0, 0, 0, 0);
  text-align: right;
  padding: 10px 12px;
  font-size: 18px;
  border: 2px solid #ddd;
  position: relative;
  border-radius: 12px;
  min-width: 300px;
  display: inline-block;
  overflow: hidden;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.coupon-code::before {
  content: "LẤY MÃ";
  height: 100%;
  width: 70%;
  background-color: #ee4d2d;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 12px;
  color: white;
  padding-top: 10px;
  text-align: center;
}

.coupon-code:hover::before {
  background-color: rgb(243, 161, 10);
}
