
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

<div class="footer p-5">
    <div class="row">
        <div class="col-md-6 px-5 address">
          <h3>Thông Tin Liên Hệ</h3></br>
          <p></span><i class="fas fa-map-marker-alt"></i>       KTX Khu B, Linh Trung, Thu Duc</p>
          <p></span><i class="fas fa-phone"></i> : (84)36 210 3314</p>
          <p></span><i class="fas fa-envelope"></i> : housewarereview@gmail.com</p>
          <p><i class="fas fa-atlas"></i> : housewarereview.com</p>	  
        </div>
        <div class="col-md-3 px-3 account">
            <h3>Tài Khoản</h3>
            <p><a class="text-decoration-none" href="/login">Đăng Nhập</a></p>
            <p><a class="text-decoration-none" href="/signup">Đăng Ký</a></p>
            <p><a class="text-decoration-none" href="/login">Quên Mật Khẩu</a></p>

        </div>
        <div class="col-md-3 px-3 popular">
            <h3>Danh Mục</h3>
            {{!-- <p><a class="text-decoration-none" href="/service">Services</a></p> --}}
            <p><a class="text-decoration-none" href="/blog">Blog</a></p>
             <p><a class="text-decoration-none" href="/coupons">Mã Giảm Giá</a></p>
              <p><a class="text-decoration-none" href="/bestsellers?category=beauty&period=week">Sản Phẩm Bán Chạy</a></p>
            <p><a class="text-decoration-none" href="/contact">Liên Hệ</a></p>
            
        </div>
        <div class="col-sm-2"></div>

    </div>
    <div id="footer2" class="container-fluid bg-grey">
        <hr/>
        <div class="text-center">
            <p>© Copyrights 2021 HousewareReview</p>
        </div>
</div>
</div>
    
