<title>Page Not Found</title>
<link rel="stylesheet" href="/css/general.css">
<link rel="stylesheet" href="/css/404NotFound.css">

<div class="container not-found-container">
    <div class="h-100 text-center notFound-content">
        <h1 class="text-uppercase">Xin lỗi, trang không tìm thấy!</h1>
        <div class="my-4">Trang bạn đang tìm kiếm đã được xóa hoặc đổi tên hoặc tạm thời không công khai.</div>
        <a href="/" class="text-decoration-none btn btn-back-to-home">Trở về trang chủ</a>
    </div>
</div>