* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.container-fluid {
    padding: 0;
}
/*------------------------------------*/

.content {
    padding-top: 100px;
    padding-bottom: 10px;
    width: 100%;
}

.menu-bar button span {
    color: black;
}

.menu-bar {
    background-color: white;
    border: solid 1px black;
    position: relative;
}

.menu-bar .list-item ul,
.menu-bar .list-item li,
.menu-bar .list-item .btn {
    width: 100%;
    text-align: left !important;
}

.list-item .btn i {
    width: 30%;
}

.menu-bar .list-item .btn:hover {
    background-color: rgb(255, 101, 80);
    color: white !important;
}

.btn-submit {
    width: 100%;
    text-align: center;
    background-color: rgb(255, 101, 80);
    border: 0;
    height: 50px;
    color: white;
}

.btn-submit:hover {
    opacity: 0.8;
    color: white;
}

.post-content {
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}

#editor {
    height: 62vh;
}

#modal-inform .btn-viewService {
    background-color: rgb(255, 101, 80);
    color: white;
}

#modal-inform .btn-viewService:hover {
    opacity: 0.8;
}

#modal-inform .btn-closeModal {
    background-color: white;
    color: black;
    border: solid 1px transparent;
}

#modal-inform .btn-closeModal:hover {
    border: solid 1px black;
}


/*------------------------------------------*/

#modal-preview .previewModal-body {
    padding: 30px 0;
    background-color: white !important;
}

#modal-preview .modal-footer {
    background-color: white;
}

#modal-preview .service-header {
    padding-top: 30px;
}

#modal-preview .service-category {
    color: rgb(255, 80, 101);
}

#modal-preview .service-description {
    font-style: italic;
    color: gray;
    font-weight: 500;
}

#modal-preview .modal-footer button {
    background-color: rgb(255, 101, 80);
    color: white;
}

#modal-preview .service-timeCreate {
    font-style: italic;
    font-size: smaller;
    width: 107px;
}

#modal-preview .service-timeCreate p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: unset;
}


/*------------------------------*/

.error-text {
    color: red;
    font-size: smaller;
}